@import "sanitize.css/sanitize";
@import "sanitize.css/forms";
@import "sanitize.css/typography";

:root {
  --header-color: #663399;
}

.excerpt {
    display: grid;
    grid-template-areas: "thumb summary";
    grid-column-gap: 2em;
}

@media (max-width: 760px) {
    .excerpt {
        grid-template-areas: "thumb"
                             "summary";
    }
}

.excerpt-thumbnail {
    grid-area: thumb;
    justify-self: center;
}

.excerpt-summary {
    grid-area: summary;
}

.layout {
    display: grid;
    grid-template-columns: minmax(15px, 1fr) minmax(min-content, 1024px) minmax(15px, 1fr);
    grid-template-areas: "head head head" ". main ." "footer footer footer"
}

.content {
    grid-area: main;
}

.header {
    grid-area: head;
    background-color: var(--header-color);
    color: #FFF;
    max-width: 100%;
}

.header h1 {
    text-shadow: 1px 1px #333,
                 2px 2px #333,
                 3px 3px #333,
                 4px 4px #333,
                 5px 5px #333,
                 6px 6px #333;
    font-weight: 900;
    font-size: 3em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    text-align: center;
}

.slogan {
    margin-left: 1em;
}

a.transparent {
    box-shadow: none;
    text-decoration: none;
    color: inherit;
}

footer {
    margin-top: 2em;
    grid-area: footer;
    text-align: center;
}

h2 {
    border-bottom: 4mm ridge rgba(170, 50, 220, .6);
    display: inline-block;
}

figcaption {
  font-style: italic;
}

figure {
  max-width: 590px;
  margin: 0 auto;
}

// keep aspect ratio so no reflow on native lazy loading responsive images: https://youtu.be/4-d_SoCHeWE
figure img {
  max-width: 100%;
  height: auto;
}

figure img,
.shadow-image {
    box-shadow: #ddd 0px 0px 10px 2px;
}

article blockquote {
    background-color: #efefef;
	padding: 0.5em 1em;
	margin-left: 0;
	margin-right: 0;
}

.hanchor { font-size: 100%; visibility: hidden; color:silver;}
h1:hover a, h2:hover a, h3:hover a, h4:hover a { visibility: visible}

div.highlight > pre {
    padding: 1em;
    display: grid;
}

div.highlight > pre > code {
    overflow-x: scroll;
}

@media (prefers-color-scheme: dark) {
  html {
    color: rgb(152, 163, 173);
    scrollbar-color: rgb(151, 173, 184) rgb(19, 21, 22);
    background-color: rgb(19, 21, 22);
  }

  a {
    color: rgb(43, 121, 162);
  }
}
