    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark"/>

    {{ $opts := (dict "outputStyle" "compressed" "includePaths" (slice "node_modules")) }}
    {{ $secureCss := resources.Get "css/styles.scss" | toCSS $opts | resources.Minify | fingerprint "sha512" }}
    <link href="{{ $secureCss.RelPermalink }}" rel="stylesheet" integrity="{{ $secureCss.Data.Integrity }}" crossorigin="anonymous">

    {{- $fav := resources.Get "favicon.ico" | fingerprint -}}
    {{ $icon := resources.Get "sff-icon.png" }}
    {{ $apple := $icon.Fill "180x180" }}
    {{ $fav32 := $icon.Fill "32x32" }}
    {{ $fav16 := $icon.Fill "16x16" }}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ $apple.RelPermalink}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ $fav32.RelPermalink }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ $fav16.RelPermalink }}">
    <link rel="icon" sizes="16x16 32x32" href="{{ $fav.RelPermalink }}">
