<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "head.html" . -}} 
    <title>SFF Life - efficient computing</title>
  </head>
  <body>
      <div class="layout">
      {{ partial "header.html" . -}} 
      <main class="content">
      <h1>Not Found</h1>
      <p>The image or article you are searching for could not be found.</p>
      <p>An issue can be raised on Github if this error is unexpected.</p>
      <p>It is not recommended to hotlink images as their URL can change without notice.</p>
      {{ partial "footer.html" . -}} 
      </div>
  </body>
</html>
