<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "head.html" . -}} 
    <title>SFF Life - efficient computing</title>
  </head>
  <body>
      <div class="layout">
      {{ partial "header.html" . -}} 
      {{ .Content }}

      <main class="content">
      <h2>Articles</h2>
        {{ range .Pages }}
          <article class="excerpt">
            <div class="excerpt-thumbnail">
              {{- $thumbImage := .Page.Resources.GetMatch .Params.thumbnail -}}
              {{- $smallImage := $thumbImage.Fill "250x250 Center" -}}
              {{- $smallWebImage := $thumbImage.Fill "250x250 Center webp" -}}
              <picture>
                <source type="image/webp" srcset='{{ $smallWebImage.RelPermalink }}'>
                <img src="{{ $smallImage.RelPermalink }}" loading="lazy" width="250" class="shadow-image"/>
              </picture>
            </div>
            <div class="summary">
              <header>
                <h3>
                  <a href="{{.RelPermalink}}">{{.Title}}</a>
                </h3>
                <span>Published on: <time datetime="{{.Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time></span>
              </header>
              <section>
                <p>{{.Params.description}}</p>
              </section>
            </div>
            </article>
        {{end}}
      </main>
      {{ partial "footer.html" . -}} 
      </div>
  </body>
</html>
